@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background-color: #F5F5F5;
}

.sidebar {
    width: 276px;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    color: #333;
}

.top-header {
    position: fixed;
    top: 0;
    left:276px;
    right: 0;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-welcome h1 {
    margin: 0;
    font-size: 26px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.header-welcome p {
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.header-date {
    text-align: right;

}


.header-date p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.notification-icon {
    position: relative;
    
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
}

.dropdown{
   padding-bottom: px;

}
.dropdown1{ 
    padding: 10px;
 
 }

.button-dropdown {
    height: 32px;
    width: 178px;
    border-radius: 5px;
    border-color: #ffffff;
    font-size: 14px;
    color:#9DB74C;
    background: #fff;
}




.main-content {
    margin-top: 100px; /* Adjust to account for fixed header */
    margin-left: 280px; /* Adjust to account for sidebar width */
    padding: 20px;
    background-color: #F5F5F5;
    width: calc(100% - 270px);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
}

.date {
    font-size: 14px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    display: inline-block;
    margin-right: 20px;
}

.button-class {
    height: 32px;
    width:178px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #9DB74C;
    color: #ffffff;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}


.button-class:hover {
    background-color: #ffffff;
    border: 1px solid #9DB74C;
    color: #9DB74C;
}

.button-class:disabled {
    background-color: #EDEDED;
    border: none;
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
}

.breadcrumb {
    color: #9DB74C;
    display: inline;
    font-size: 14px;
    text-decoration: none;
}

.breadcrumb.disabled {
    color: #CCCCCC; 
    pointer-events: none;
    cursor: default; 
}

.button-dropdown{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
}

.button-dropdown:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    color: #9DB74C;
    border: 1px solid #9DB74C;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stat-box {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    flex: 1;
    border-radius: 22px;
    height: 88px;
    width: 275px;
    margin-left: 2px;
    
}

.stat-box:hover{
    border: 1px solid #9DB74C;

}
.stat-box h3 {
    font-size: 14px;
    font-weight: 500;
}

.stat-box h4 {
    font-size: 12px;
    font-weight: 500;
}
.stat-box p{
    color: #9E9E9E;
    font-size: 12px;
}

.conditions {
    margin-bottom: 20px;
}


.condition-box h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.image-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    border-radius: 12px;
    height: 450px;
    width: 1120px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}


.image-box {
    transition: transform 0.3s ease; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    transform: scale(1.2);
}

.image-container:hover .image-box {
    transform: scale(1); 
}

.button-dropdown1{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    width: 178px;
    position: absolute;
    right: 0;
    top: 0;
    color: #9DB74C;
    
}

.button-dropdown1:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;

    background-color: #ffffff;
    height: 32px;
    width: 178px;
    color: #9DB74C;
    border: 1px solid #9DB74C;
}

.button-dropdown2{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 500;
    height: 28px;
    width: 140px;
    position: absolute;
    left: 0;
    top: 0;
    color: #9DB74C;
    padding-bottom: 20px;
    
}

.button-dropdown2:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 28px;
    width: 140px;
    color: #9DB74C;
    border: 1px solid #9DB74C;
}

.condition-card {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    height: 365px;
    width:550px;
}
.condition-card p{
    font-size: 14px;
    line-height: 2px;
    font-weight: 400;
    color: #1A441D;
}

.condition-card .satuan {
    font-size: 10px;
    color: #1A441D;
    font-weight: 400;
   
}

.condition-title {
    font-size: 20px;

}

.condition-card1 {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 15px;
    margin-left: 10px;
    height: 365px;
    width: 550px;
}


.tab-button {
    background-color: #EDEDED;
    border: 1px solid #DEDEDE;
    color: #9E9E9E;
    border-radius: 5px;
    margin-right: 10px;
    width: 100px;
    height: 28px;
    font-size: 10px;
}

.tab-button:hover{
    background-color: #9DB74C; 
    color: #fff;
}
.tab-button.active {
    background-color: #9DB74C; 
    color: #fff;
}
.owned-gardens {
    margin-bottom: 20px;
}

.owned-gardens .garden-box {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}


.condition-card3 {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 5px;
    margin-left: 1px;
    margin-top: 20px;

}



.activity-report table {
    width: 80%;
    border-collapse: collapse;
    font-family: "Inter", sans-serif;}

.activity-report th, .activity-report td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
}

.activity-report th {
    background-color: #f9f9f9;
    font-weight: 600;
}

.title-report {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}



.status-badge {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 100px;
}

.status-badge.success {
    background-color: #B7DBC9;
    color: #43936C;
    border: 1px solid #43936C;
}

.status-badge.pending {
    background-color: #F2D6B9;
    color: #DC723C;
    border: 1px solid #DC723C;
}

.status-badge.failed {
    background-color: #F2B9B9;
    color: #CC5656;
    border: 1px solid #CC5656;
}


.button-dashboard {

    width: 224px;
    height: 40px;
    padding-left: 20px;
    color: #9DB74C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    background: #fff; 
}

.button-dashboard:hover{
    width: 224px;
    height: 40px;
    padding-left: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    background: #9DB74C; 
}


.card-title {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    margin-top: 4px;
}

.card-text {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #9E9E9E;
    line-height: 14px; 
    text-align: justify;

}

/* chart */
.chart-container {
    width: 500px;
    margin: auto;
    position: relative;
    padding: 10px;
}
.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
    padding: 20px 0;
 
    border-bottom: 2px solid #ccc;
}
.bar {
    width: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: transparent;
    transition: color 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bar:hover {
    color: #000;
}
.bar:nth-child(1) {
    height: 110px;
    background-color: #20392f;
}
.bar:nth-child(2) {
    height: 90px;
    background-color: #3a5246;
}
.bar:nth-child(3) {
    height: 70px;
    background-color: #5e7a6a;
}
.bar:nth-child(4) {
    height: 50px;
    background-color: #7d9889;
}
.bar:nth-child(5) {
    height: 30px;
    background-color: #a6b8ab;
}
.bar:nth-child(6) {
    height: 10px;
    background-color: #cfdad2;
}
.labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.label {
    width: 60px;
    text-align: center;
    font-size: 12px;
}
.legend {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
   
}
.legend-item {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 3px;
   
    
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    
    
}
.legend-color:nth-child(1) {
    background-color: #20392f;
}
.legend-color:nth-child(2) {
    background-color: #3a5246;
}
.legend-color:nth-child(3) {
    background-color: #5e7a6a;
}
.legend-color:nth-child(4) {
    background-color: #7d9889;
}
.legend-color:nth-child(5) {
    background-color: #a6b8ab;
}
.legend-color:nth-child(6) {
    background-color: #cfdad2;
}

/* stok */

.stock-report {

    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 10px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.status-red {
    background-color: #EEB4B0;
    border: 1px solid #731912;
    color: #CB3A31;
    padding: 2px 10px;
    border-radius: 8px;
}

.status-yellow {
    background-color: #EECEB0;
    border: 1px solid #724011;
    color: #CD7B2E;
    padding: 2px 10px;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-prev, .pagination-next {
    color: #C2C2C2;
    text-decoration: none;
    font-size: 12px;
}

.pagination-prev:hover, .pagination-next:hover {
    text-decoration: underline;
}

/* stok produk kebun */

.activity-report {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dcdada;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    border-radius: 12px;
    width: 1110px;
    font-size: 10px;
}

.activity-report table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    font-family: "Inter", sans-serif;}

.activity-report th, .activity-report td {
    border-bottom: 1px solid #e7e5e5;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
}

.activity-report th {
    background-color: #f9f9f9;
    font-weight: 600;
}

.title-report {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}




.button-dashboard {

    width: 224px;
    height: 40px;
    padding-left: 20px;
    color: #9DB74C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    background: #fff; 
}

.button-dashboard:hover{
    width: 224px;
    height: 40px;
    padding-left: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    background: #9DB74C; 
}

.logo1 {
   margin-bottom: 30px;
}
.card {
    height:230px;
    width: 170px;
    padding:10px;
   
}

.card-title {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px; 
}

.card-text {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #9E9E9E;
    line-height: 14px; 
    margin-bottom: 2px; 
}

.button-kebun {
    width: 120px;
    height: 27px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #9DB74C;
    margin-top: 8px;
    cursor: pointer;
}


.button-kebun:hover {
    width: 120px;
    height: 27px;
    color: black;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #fff;

    margin-top: 8px;
}

.image-card {
    height: 90px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;

}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-all-kebun {
    width: 140px;
    height: 27px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #9DB74C;
    margin-top: 20px;
    cursor: pointer;
    

}


.button-all-kebun:hover {
    width: 140px;
    height: 27px;
    color: black;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #fff;
}

.button-all-detail{
    width: 140px;
    height: 27px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #9DB74C;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;


}

.button-all-detail:hover{

    width: 140px;
    height: 27px;
    color: black;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #fff;
    position: absolute;
    right: 0px;
    top: 0;

}



.button-dropdown3{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    font-size: 10px;
    font-weight: 500;
    height: 28px;
    width: 158px;
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 100px;
    color: #9DB74C;
    position: absolute;
    right: 150px;
    top: 0;

    
}

.button-dropdown3:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #9DB74C;
    border: 1px solid #9DB74C;
    position: absolute;
    right: 150px;
    top: 0;

}


.card-detail{
    padding-top: 20px;
    padding-right: 20px;
}
.card {
    height:350px;
    width: 260px;
    padding:10px;
   
}

.card-title {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px; 
}

.card-text {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #9E9E9E;
    line-height: 14px; 
    margin-bottom: 2px; 
    text-align: justify;
}

.card-text2 {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    line-height: 14px; 
    margin-bottom: 2px; 
    text-align: justify;
}
.card-text3 {
    font-family: "Inter", sans-serif;
    font-size: 6px;
    color: #1A441D;
    line-height: 14px; 
    margin-bottom: 2px; 
    text-align: justify;
}


.button-kebun {
    width: 210px;
    height: 27px;
    color: #fff;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #9DB74C;
    margin-top: 8px;
    cursor: pointer;
}


.button-kebun:hover {
    width: 210px;
    height: 27px;
    color: black;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #fff;

    margin-top: 8px;
}

.image-card {
    height: 140px;
    width: 240px;
    object-fit: cover;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-all-kebun {
    width: 140px;
    height: 27px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #9DB74C;
    margin-top: 20px;
    cursor: pointer;
    

}


.button-all-kebun:hover {
    width: 140px;
    height: 27px;
    color: black;
    border: 1px solid #9DB74C;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background: #fff;
}